---
import Layout from '../layouts/Layout.astro';

const OFFICIAL_DATE = new Date("2023-10-07");
let endTime = new Date();
let diffInTime = endTime.getTime() - OFFICIAL_DATE.getTime();

let diffInDays = Math.round(diffInTime / (1000 * 3600 * 24));
---

<Layout title="astro-cube">
  <main>
    <article class="region prose wrapper hero">
      <h1>happy valentine's day my love</h1>

      <h2>
        there is no better feeling than <span class="accent">loving you</span>. you will always deserve all the love and happiness in the world.
      </h2>
    </article>

    <article class="region prose wrapper">
      <p>i can't believe it's been 1 year since i first gave you flowers. that was the first time i felt happy just making you happy. i remember thinking at first that idk what i'm doing uli when i gave it cos i was in that phase and told myself i wouldn't wanna be like that with just anyone again. but i knew you weren't just anyone.</p>

      <p>you make me nervous in every good way possible. you've always looked unreal to me. a big reason why i still can't believe you're my gf is cos of your looks. everything about you is the prettiest to me, both your face and your body. you always look so pretty even when you don't try. the way you make me feel when i sneak glances at you is still how you made me feel the first time our eyes met irl. it looked like you had whole universes inside yours. i always wish you could see yourself how i see you whenever you overthink cos you really are the prettiest and that'll never change. you will always be my type and my crush no matter what happens. no one else will ever compare.</p>

      <p>but even more than your looks, what made me fall in love with you is just how you are as a person. we're literally the same person. you're the only person i enjoy spending time with more than myself. you make me laugh and smile til my face aches. your presence makes me so calm and relaxed, and i feel like i can be myself only around you. you make me enjoy the smallest things in life. you give me minecraft gifts and make me feel like the only thing i have to worry about is how i'd kill the ender dragon. i will forever be grateful that i get to spend my life with the only person who can make me feel this way. you love me like no one else can.</p>

      <p>i love and will always love you endlessly. i really feel like the reason i was put in this world is so i can be with and take care of you. you are with me forever mahal ko. i will always try the hardest for you. and i will always be here every valentine's, every day, every second, for the rest of our lives.</p>
    </article>


    <article class="region prose wrapper">
      <h2>songs that remind me of you</h2>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5IPR7GegYM3ol26nGWjL3R?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>1. sweden</h3>
          <p>
            you are my forever <em>comfort person</em> and <em>best friend</em>. and if you were a song to me, you'd be this one. i feel like i'm listening to this song whenever we're together. you make me feel calm, like a kid, and like nothing else matters in the world but you.
          </p>
        </li>

        <li class="flow">
          <h3>2. b.y.s</h3>
          <p>
            this song always reminds me of how <em>addicted i was to u</em> to the point where i almost failed my cs class. i'll always be addicted to spending time with you in any way i can. i'll always choose to be with you over anyone, without a second thought.
          </p>
        </li>

        <li class="flow">
          <h3>3. bedtime story</h3>
          <p>
            this was the first song i played on our first date. i couldn't even remember listening to it nun. i just remember how nervous i was and that i was begging the bluetooth sa phone ko to connect so i can fill the silence. this song really reminds me of <em>our first date</em> and how <em>pretty</em> you were.
          </p>
        </li>

        <li class="flow">
          <h3>4. touch it</h3>
          <p>
            this song is 1 of the first ari songs that comes to mind when i think about you. think <em>ari</em> is 1 of the reasons why we got along agad din. i remember when i asked you about your fave ari songs and this was 1 of them, and for the next few days i had it on repeat to and from school while i'd think about you.
          </p>
        </li>

        <li class="flow">
          <h3>5. calm & patient</h3>
          <p>
            this was the song i associate to the time na we started calling each other baby, saying imy in call, and calling and watching more. i really fell hard that time, and i just <em>fall harder every day</em>. i also played this the 2nd time you were in my car, and i remember getting kilig hearing u sing along to jhene's songs.
          </p>
        </li>

        <li class="flow">
          <h3>6. like i need u</h3>
          <p>
            whenever we talk about artists we both listen to, i always end up listening to their songs on repeat again. and when we talked about keshi, this was the song that suddenly sounded a lot better. i started thinking about you more and i always relate to the line about <em>needing you more than you need me</em>.
          </p>
        </li>

        <li class="flow">
          <h3>7. mice on venus</h3>
          <p>
            theres no activity i enjoy more than just being at ur house and playing/watching. i remember just feeling the most at home when brent and i would play mc and you'd just rest your head on my shoulder and laugh with us. this is the song that was playing when i realized just how much <em>i enjoy spending time with you and brent</em>.
          </p>
        </li>

        <li class="flow">
          <h3>8. mama</h3>
          <p>
            i had this on repeat when we talked about the holy trinity. i played it the second time in my car, and it also played in fully booked when we were laughing by the self help section. i will always remember <em>how much fun i had that day</em> just going around fb with you whenever this song plays.
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      days we've been together: {diffInDays}
    </footer>
  </main>
</Layout>
