---
import '~/styles/styles.css';
---

<!DOCTYPE html>
<!-- Remove the hard-coded dark mode and implement your own if you're into that sort of thing -->
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#9EA3FA" />

    <title>happy vday</title>

    <!-- preload fonts -->

    <link
      rel="preload"
      href="/fonts/SilkSerif-ExtraLight.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/fonts/SilkSerif-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
  </head>
  <body>
    <slot />
  </body>
</html>
